* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-inline-size: 1000px;
  inline-size: 100%;
  min-block-size: 100dvh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}